<nav>
<ul class="nav nav-list">
    <li><a href="{{ site.baseurl }}/">Home</a></li>
    <li><a class="external" href="//github.com/flammie/apertium-fin-deu/#readme">README</a></li>
    <li><a href="{{ site.baseurl }}/statistics.html">Statistics</a></li>
    <li><a href="{{ site.baseurl }}/apertium-fin-deu.fin-deu.dix.html">
            Finnish–German dictionary</a></li>
    <li><a href="{{ site.baseurl }}/apertium-fin-deu.fin-deu.t1x.html">
            Finnish–German chunking rules</a></li>
    <li><a href="{{ site.baseurl }}/apertium-fin-deu.fin-deu.t2x.html">
            Finnish–German re-ordering rules</a></li>
    <li><a href="{{ site.baseurl }}/apertium-fin-deu.fin-deu.t3x.html">
            Finnish–German t3x rules</a></li>
    <li><a href="{{ site.baseurl }}/apertium-fin-deu.deu-fin.dix.html">
            German–Finnish dictionary</a></li>
    <li><a href="{{ site.baseurl }}/apertium-fin-deu.deu-fin.t1x.html">
            German–Finnish chunking rules</a></li>
    <li><a href="{{ site.baseurl }}/apertium-fin-deu.deu-fin.t2x.html">
            German–Finnish re-ordering rules</a></li>
    <li><a href="{{ site.baseurl }}/apertium-fin-deu.deu-fin.t3x.html">
            German–Finnish t3x rules</a></li>
</ul>
</nav>
